.account {
    margin-top: 7em;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.avatar img {
    width: 100px;
    border-radius: 100%;
    height: 100px;
    overflow: hidden;
    background-size: contain;
    background-position: center;
}

.account p {
    display: flex;
    align-items: center;
}
