.account {
    margin-top: 7em;
}

.avatar {
    margin-top: 60px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img {
    width: 4em;
    height: 4em;
    border-radius: 100%;
    overflow: hidden;
    background-size: contain;
    background-position: center;
}

.account p {
    display: flex;
    align-items: center;
}
