@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

footer {
    width: 100%;
    height: auto;
    /*поля для контента*/
    background: #3586ff;
    /*цвет футера*/
    display: flex;
    justify-content: center;
    /*в центре по горизонтали*/
    align-items: center;
    /*в центре по вертикали*/
    flex-direction: column;
    box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.75);

}

.social,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    padding: 0 5% 0 5%;
    /*разрешен перенос на новую строку*/
}

.social li,
.menu li {
    list-style: none;
    /*удалить черные маркеры*/
}

.menu li a {
    font-size: 1.5em;
    /*размер ссылок меню*/
    color: #fff;
    /*цвет ссылок меню*/
    opacity: 0.75;
    /*значение прозрачности*/
    margin: 0 15px;
    text-decoration: none;
    /*ссылка без подчеркивания*/
    display: inline-block;
}

.menu li a:hover {
    opacity: 1;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
}