.teamPage {
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    border: 5px solid rgb(0, 90, 146);
    border-top: 5px solid rgb(0, 90, 146);
    border-bottom: 3px solid rgb(0, 90, 146);
    border-collapse: collapse;
    color: white;
    /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
.teamPage img {
    border-radius: 5px 5px 0 0;
}

.teamContainer {
    width: 70%;
    margin: 150px 50px 0 50px;
}
.teamContainer section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.teamContainer .card {
    display: inline-block;
    padding: 20px;
    width: 20vw;
    margin: 10px 15px 10px 0;
}

@media screen and (max-width: 600px) {
    .teamContainer .card{
        width: 50vw;
    }
}
@media screen and (min-height: 1000px){

    .teamContainer .card{
        font-size: 2em;
    }
}